.container-fluid{
    margin-bottom: -1.2%;
  }
  
  .nav-link{
  font-weight: bold;
  }
  #navbarNav{
  margin-left: 28%;
  padding-bottom: 1.2%;
  }
  .nav-item{
  font-family: inherit;
  }
  .navbar-expand-lg{
  height: 52px;
  padding-bottom: 0%;
  padding-top: 1.2%;
  }
  .header-find-wall{
  padding: 16px 30px;
  box-sizing: border-box;
  background: #7ACDC8;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.23px;
  font-weight: 400;
  text-transform: uppercase;
  }
  
  .footer{
  padding-bottom: 9%;
  background-color: #E3F3F1;
  }
  .footer-text{
  font-family: 'Avenir-light'!important;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: black;
  }
  .footer li{
  float: left;
  margin-left: 2%;
  }
  .footer ul li{
  list-style-type: none;
  text-align: left;
  margin-top: 4%;
  }
  .banner{
  margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 8%;
  }
  .banner-img{
  width: 120%;
  }
  
  .banner-fixed{
  position: absolute;
    top: 230px;
    left: 61%;
    z-index: 1;
  }
  .banner-fixed a{
  font-family: Avenir-light;
  padding: 50px 50px;
  box-sizing: border-box;
  background: #7ACDC8;
  font-size: 55px;
  color: #202020;
  letter-spacing: 2px;
  text-align: center;
  }
  .banner-background{
  background-color: #F8EEE1;
  }
  .description-background{
  background-color: #E3F3F1;
  }
  .description{
  margin-left: 23%;
    margin-top: 2%;
    margin-bottom: 8%;
  }
  .description-head{
  font-family: Avenir-Light;
    font-size: 28px;
    color: #202020;
    letter-spacing: 0.83px;
    text-align: center;
    line-height: 38px;
    font-weight: normal;
    font-style: normal;
  }
  .description-body{
  font-size: 20px;
    color: #202020;
    letter-spacing: 0.67px;
    line-height: 33px;
    text-align: center;
    font-weight: normal;
  }
  .my-stenna{
  margin-left: 8%;
    margin-top: 6%;
    margin-bottom: 7%;
    margin-right: 2%;
  }
  .my-stenna-img{
  width: 130%;
  }
  .my-stenna-text{
  margin: 15%;
  }
  .my-stenna-head{
  font-size: 24px;
    color: #46B0AA;
    letter-spacing: 0.67px;
    line-height: 33px;
    text-align: center;
    font-weight: normal;
    margin-left: -20%;
  }
  .my-stenna-body{
  font-size: 16px;
  }